func {{ .TestName }} (t *testing.T) {
    type typ {{ .Decl }}

    {{ range .ObjCtorStatements }}
    {{- . }}
    {{ end }}

    expected := x
    expectedVal := x0
    expectedKey := KeyString("{{ .Key }}")
    testEncode(t, rt, expected, expectedKey, expectedVal)
}