[Unit]
Description=Timer for nightly dylt build

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=true
Unit=build-dylt.service

[Install]
WantedBy=timers.target
