package color 

// Empty file - possibly a place holder until the proper contents are generated

var X11 = struct {
	AntiqueWhite color_x11
	DodgerBlue color_x11
	Gray30 color_x11
}{
	AntiqueWhite: color_x11{},
	DodgerBlue: color_x11{},
	Gray30: color_x11{},
}